body{
    margin: 0;
}
.header{
    display:flex;
    justify-content:space-between;
    background-image: linear-gradient(0,rgb(255, 173, 186),rgb(143, 208, 216));
    position: fixed;
    top: 0 ;
    z-index: 999;
}
.logo{
    /* giới hạn độ to của khung hình chứa logo */
    width: 10%;
}
/* độ to của logo trong khung */
.logo img{
    width:100%;
}
/* chỉnh khoảng cách viền xanh đến chữ */
.mid-header{
    margin-top: 50px;
}
/* khi gọi mid header thì phải gọi thêm thẻ a thì mới sửa được chữ */
 .mid-header a{  
    /* text-decoration:none để làm mất dấu gạch dưới */
    text-decoration: none;
    /* margin là khoảng cách giữa các chữ */
    margin: 15px;
    /* font-weight chỉnh font chữ */
    font-weight: bold;
    color: rgb(42, 39, 39);
    font-size: 16px;
    /* chỉnh font chữ */
    font-family: sans-serif; 
 }
.last-header {
    display: flex;
    margin-top: 35px; }  
.search-header i{
    margin-right: 5px;
    color:#111111;
}    
.search-header{
    margin-right: 20px;
}
.search-header input{
    /* border chỉnh mất khung viền */
    border:none;
    /* background màu nền trong khung*/
    background: #232323; 
    /* màu chữ */
    color: pink;
    /* làm tròn viền khung */
    border-radius: 50px;
    /*khoảng cách trong hộp  */
    padding: 10px;
    /* chiều rộng của khung */
    width: 140px;
    font-size:large;
    font-family:'Courier New', Courier, monospace;
}
.last-header-2{
    margin-top: 10px;
    margin-right: 20px;
}
.last-header-2 i{
    margin-right: 18px;
    color:#111111;

}
.footer-web{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    margin-top: 35px;
    margin-left: 330px;
    margin-right: 330px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    
   
}
.footer-des{
    display: flex ;
    padding:20px;
    
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 65px;
    color: rgb(37, 39, 39);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: pink;
    padding-top:30px; 
    border-radius: 50px;
    
    
}
.footer-des-1{
    margin-right: 170px;
    
}
.footer-des-1 a{
    text-decoration: none;
    color: #4a4949;
    font-family: 'Courier New', Courier, monospace;
}
.des-1-1{
    box-shadow: 0px 4px 8px black   ;
    padding: 6px 10px 5px 5px;
}
.footer-vietnam{
    font-family:sans-serif;
    border-radius: 20px;
    margin-top: 18px;
}
.footer-vietnam a{
    text-decoration: none;
    color: #707072;
}
.footer-vietnam a:hover{
    color:#111111;
    box-shadow: 0 3px 8px;
    padding:8px;
    border-radius: 50px;
}
.des-1-1{
    margin-bottom:40px;
}
.last-footer{
    display: flex;
    padding: 0 65px;
    margin-top: 15px;
    
}
.last-1{
    margin-top: 16.5px;
    margin-right: 22px;
    color: #707072;
}
.last-footer a{
    text-decoration: none;
    color: #707072;
    margin-right: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.last-footer a:hover{
    color: pink;
}
.sp-icon{
    margin-top: 70px;
    color:#121212;
    font-size: 70px;  
}
.container{
    display: flex;
}

.body-product{
    display: flex;
    margin: 150px 20px;
  
    
}
.product-img{
    display: flex;
    margin-left: 250px;
    
}
.product-img-small{
    width: 10%;
}
.product-img-small img{
    width: 100%;
    border-radius: 9px;
    margin-left: 10px;
    cursor: pointer;
}
.product-img-small img:hover{
    box-shadow:0px 4px 8px  rgb(26, 17, 17);
}
.product-img-big{
    width: 50%;
}
.product-img-big img{
    width: 81.4%;
    border-radius: 9px;
    margin-left: 20px;
}
.product-text{
   position: relative;
   right: 300px;
   z-index: 0;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
.product-title{
    width: 200px;
    line-height: 10px;
}
.product-title span{
   font-size: 30px;
}
.product-title p{
    color: rgb(63, 66, 66);
}
.product-price-2{
    margin-bottom: 40px;
    margin-top: -5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.product-size span{
    font-weight: bold;
    font-size: 15px;
}
.product-select-size {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    gap:5px;
   
   
}
.product-select-size button{
    padding: 9px 50px;
     background-image: linear-gradient(0,pink,rgb(93, 229, 241)); 
    border: 3px solid rgb(98, 93, 93);
    border-radius: 10px;
    cursor: pointer;
}
.button-1 button{
    padding: 17px 100px;
    margin-left: 6px;
    border-radius: 50px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(0, 0, 0);
    transition: 0.5s;
    color: aliceblue;
    font-weight: bold;
}
.button-1 button:hover{
    background-color: rgb(255, 255, 255);
    color: #111111;
}
.button-2 button{
    padding: 17px 112.5px;
    margin-left: 6px;
    border-radius: 50px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(253, 250, 250);
    transition: 0.5s;
    margin-top: 10px;
    font-weight: bold;
}
.button-2 button:hover{
    background-color: rgb(6, 6, 6);
    color: rgb(255, 255, 255);
}
    
