
.header{
    display:flex;
    justify-content:space-between;
    position: fixed;
    top: 0;
    background-image: linear-gradient(0,rgb(255, 173, 186),rgb(143, 208, 216));
    z-index: 99;
}
.logo{
    /* giới hạn độ to của khung hình chứa logo */
    width: 10%;
}
/* độ to của logo trong khung */
.logo img{
    width:100%;
}
.logo img:hover{
    box-shadow: 0px 4px 8px rgb(123, 97, 97);
    border-radius: 50px;
    
}
/* chỉnh khoảng cách viền xanh đến chữ */
.mid-header{
    margin-top: 50px;
}
/* khi gọi mid header thì phải gọi thêm thẻ a thì mới sửa được chữ */
 .mid-header a{  
    /* text-decoration:none để làm mất dấu gạch dưới */
    text-decoration: none;
    /* margin là khoảng cách giữa các chữ */
    margin: 15px;
    /* font-weight chỉnh font chữ */
    font-weight: bold;
    color: black;
    font-size: 16px;
    /* chỉnh font chữ */
    font-family:Arial, Helvetica, sans-serif;
}
.last-header {
    display: flex;
    margin-top: 35px;   

}
.search-header{
    margin-right: 20px;

}
.search-header input{
    /* border chỉnh mất khung viền */
    border:none;
    /* background màu nền trong khung*/
    background:#000000;
    /* màu chữ */
    color: pink;
    /* làm tròn viền khung */
    border-radius: 50px;
    /*khoảng cách trong hộp  */
    padding: 10px;
    /* chiều rộng của khung */
    width: 140px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.last-header-2{
    margin-top: 10px;
    margin-right: 20px;
}
.last-header-2 i{
    margin-right: 18px;
}
.footer-web{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    margin-top: 35px;
    margin-left: 330px;
    margin-right: 330px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-des{
    display: flex ;
   
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    color: black;
    font-family:  sans-serif;
    background-color: pink;
    padding: 30px;
    margin-top: 20px;
    border-radius: 50px;
    
}
.footer-des-1{
    margin-right: 170px;
    
}
.footer-des-1 a{
    text-decoration: none;
    color: #707072;
    font-family: sans-serif;
   
}
.footer-vietnam{
    font-family:  sans-serif;
    transition: 0.5s;

}
.footer-vietnam a{
    text-decoration: none;
    color: #707072;
}
.footer-vietnam a:hover{
    color:rgb(11, 10, 10);
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgb(123, 97, 97);
    padding:8px;
}
.des-1-1{
    margin-bottom: 40px;
}

.last-footer{
    display: flex;
    padding: 0 65px;
    margin-top: -10px;
 
    
}
.last-1{
    margin-top: 16.5px;
    margin-right: 22px;
    color: #707072;
}
.last-footer a{
    text-decoration: none;
    color: #707072;
    margin-right: 25px;
    font-family: sans-serif;
}
.last-footer a:hover{
    color: pink;
}
.body-shop{
    display: flex;
    margin-top: 130px; 
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 14px;
    background-color: #ffffff;
    
}
.shop-1 {
    
    width: 300px;
    padding:15px 18px; 
    border-radius: 20px;
    box-shadow:2px 4px 8px rgb(0, 0, 0);
    background-image: linear-gradient(0,rgb(143, 208, 216),rgb(255, 173, 186));
    transition: transform 0.4s;
}
.shop-1:hover{
    transform:translateY(-13px);
}    

.shop-img{
    width: 300px;   
   
}
.shop-img img{
    width: 100%;
    border-radius: 10px;
}
.search-header i{
    margin-right: 5px;
}
.shop-des{
    font-family: sans-serif;

}
.shop-des a{
    font-family: sans-serif;
    text-decoration: none;
    color: #141414;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.shop-des a:first-child{
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(24, 24, 24);
}
.shop-des a:first-child:hover{
    color:rgb(255, 255, 255)
}
.price-tag a{
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(28, 27, 27);
}
/* do dai cac dong */
.shop-des p{
    line-height: 80%;
}

/* margin body mac dich la 8 nen muon ko ho set ve 0 */
body{
    margin: 0;
}
